:root {
    /* Primary */

    --Strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */

    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

    --light-strong-cyan: hsl(171, 74%, 75%);

}

body {
    background-color: var(--Light-grayish-cyan);
}

.calculadora {
    padding: 15px;
    display: flex;
    background-color: var(--White);
    height: auto;
    width: 600px;
    margin: auto;
}

.costo {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px 0 0;
}

.costoInicial{
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    position: relative;
}

.costoInicial input{
    height: 20px;
    outline: none;
    border-style: solid;
    border-radius: 5px;
}
.costoInicial input:hover{
    cursor: pointer;
    border-color: var(--Strong-cyan);
}

.iconDolar{
position: absolute;
bottom: 0;
left: 5px;
z-index: 10px;
color: grey;
}

.porcentajes{
    display: grid;
    grid-template-columns: 1fr 1fr minmax(33%,1fr);
    grid-template-areas:"titulo titulo titulo"
                        "uno dos tres"
                        "cuatro cinco seis";
    gap: 10px;
}

.porcentajes__btn{
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    height: 30px;
    /* width: 50px; */
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
    
}

.porcentajes__btn:hover{
    background-color: var(--light-strong-cyan);
    color: var(--Very-dark-cyan);
    font-weight: bold;
}

.porcentajes__btn:focus{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.txtEntrada{
    height: 20px;
    /* width: 42px; */
    width: auto;
    outline: none;
}

.titulo{
    grid-area: titulo;
}

.uno{grid-area: uno;}
.dos{grid-area: dos;}
.tres{grid-area: tres;}
.cuatro{grid-area: cuatro;}
.cinco{grid-area: cinco;}
.seis{grid-area: seis;}

.seis:hover{
    cursor: pointer;
}
.personas{
    width: auto;
    /* border-color: aqua;
    border-style: solid; */
    display: flex;
    flex-direction: column;
}

.personas>div{
    display: flex;
    justify-content: space-between;
}

.estadoErr{
    display: none;
    color: red;
}


.numeroPersonas{
    outline: none;
    border-style: solid;
    border-radius: 5px;
}

.numeroPersonas:hover{
    cursor: pointer;
}

.resultado {
    width: 50%;
    max-width: 50%;
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.resultado div {
    display: flex;
    width: auto;
    align-items: center;
}

.resultado div label {
    width: 50%;
}

.resultado div label:nth-child(2) {
    text-align: end;
}

.monto {
    margin-bottom: 30px;
}

.monto>label,
.total>label {
    color: var(--White);
}

.monto>.montoNumber,
.total>.totalNumber {
    font-size: 30px;
    font-weight: bolder;
    color: var(--Strong-cyan);
}

.btnReset {
    /* margin-top: 100px; */
    background-color: var(--Strong-cyan);
    border-radius: 5px;
    width: 80%;
    margin: 100px auto 10px auto;
    height: 30px;
    border-color: transparent;
}

.btnReset:hover {
    cursor: pointer;
    background-color: var(--light-strong-cyan);
}

