:root {
    /* Primary */

    --Strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --light-strong-cyan: hsl(171, 74%, 75%);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    background-color: var(--Light-grayish-cyan);
    font-family: 'Space Mono', monospace;
}

.calculadora {
    padding: 15px;
    display: flex;
    background-color: var(--White);
    height: auto;
    width: 600px;
    margin: auto;
}

.costo {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px 0 0;
}

.costoInicial {
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    position: relative;
}

.costoInicial:nth-child(1) {
    color: var(--Dark-grayish-cyan);
    font-weight: 700;
    font-size: 12px;

}

.costoInicial input {
    height: 20px;
    outline: none;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    background-color: var(--Very-light-grayish-cyan);
    text-align: end;
}

.costoInicial input:hover {
    cursor: pointer;
    border-style: solid;
    border-color: var(--light-strong-cyan);
}

.iconDolar {
    position: absolute;
    bottom: 4px;
    left: 5px;
    z-index: 10px;
    color: var(--Grayish-cyan);
    font-size: 14px;
}

.porcentajes {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(33%, 1fr);
    grid-template-areas: "titulo titulo titulo"
        "uno dos tres"
        "cuatro cinco seis";
    gap: 10px;
}

.porcentajes>.titulo {
    color: var(--Dark-grayish-cyan);
    font-weight: 700;
    font-size: 12px;
}

.porcentajes__btn {
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    height: 30px;
    /* width: 50px; */
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;

}

.porcentajes__btn:hover {
    background-color: var(--light-strong-cyan);
    color: var(--Very-dark-cyan);
    font-weight: bold;
}

.porcentajes__btn:focus {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.txtEntrada {
    height: auto;
    width: auto;
    /* width: 25px; */
    outline: none;
    border-style: solid;
    border-color: transparent;
    color: var(--Dark-grayish-cyan);
    font-weight: 700;
    text-align: center;
}

.txtEntrada:hover {
    border-style: solid;
    border-color: var(--light-strong-cyan);
}

.titulo {
    grid-area: titulo;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.seis:hover {
    cursor: pointer;
}

.personas {
    width: auto;
    /* border-color: aqua;
    border-style: solid; */
    display: flex;
    flex-direction: column;
}

.personas>div {
    display: flex;
    justify-content: space-between;
    color: var(--Dark-grayish-cyan);
    font-weight: 700;
    font-size: 12px;
}

.estadoErr {
    display: none;
    color: red;
}


.numeroPersonas {
    outline: none;
    border-style: none;
    border-radius: 5px;
    height: 20px;
    background-color: var(--Very-light-grayish-cyan);
    text-align: end;
}

.numeroPersonas:hover {
    cursor: pointer;
}

.resultado {
    width: 50%;
    max-width: 50%;
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.resultado div {
    display: flex;
    width: auto;
    align-items: center;
}

.resultado div label {
    width: 50%;
}

.resultado div label:nth-child(2) {
    text-align: end;
}

.monto {
    margin-bottom: 30px;
}

.monto>label,
.total>label {
    color: var(--White);
    font-weight: 700;
}

.monto>label>span,
.total>label>span {
    font-weight: normal;
}

.monto>.montoNumber,
.total>.totalNumber {
    font-size: 30px;
    font-weight: bolder;
    color: var(--Strong-cyan);
}

.btnReset {
    /* margin-top: 100px; */
    background-color: var(--Strong-cyan);
    border-radius: 5px;
    width: 80%;
    margin: 100px auto 10px auto;
    height: 30px;
    border-color: transparent;
}

.btnReset:hover {
    cursor: pointer;
    background-color: var(--light-strong-cyan);
}